<ion-view  view-title="Categorieen">
    <!-- <div class="inner-page category"> -->
            <ion-nav-buttons side="left">
                    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
                  </ion-nav-buttons>      
       <ion-content>
       <div class="main-content" ng-init="getCatgories()">
          <div class="cat-page common-cls">
             <div class="text">
                <p>Op deze pagina vindt u evenementen welke door de desbetreffende clubs zelf worden gevuld met de laatste en actuele infornmatie.</p>
             </div>
             <div class="container">
                <div class="cat-blk" ng-repeat="categoryList in categoryList_values">
                    <a ui-sref="app.categoryoverview({ id: categoryList.id })">
                   <h2>{{categoryList.category}}</h2>
                   <p>{{categoryList.slug_category}}</p>
                </a>
                </div>
             </div>
          </div>
       </div>
       </ion-content>
    <!-- </div> -->
 </ion-view>