<ion-view class="pane" view-title="Category">
    <div class="inner-page category">
       <!-- <header>
          <div class="container">
             <div class="side-menu">
                <a href="#"><img src="img/menu.png"></a>
                <div class="left-side-menu" style="display:none;">
                   <div class="side-menu-content">
                      <div class="menu-blk">
                         <h2>Menu</h2>
                         <a href="#" class="togg">X</a>
                      </div>
                      <ul class="menu-item">
                         <li class="menu-1 active"><a href="#">Home</a></li>
                         <li  class="menu-2"><a href="#">EVENEMENTEN</a></li>
                         <li  class="menu-3"><a href="#">Categorieen</a></li>
                         <li  class="menu-4"><a href="#">informatie</a></li>
                         <li  class="menu-5"><a href="#">Push berichten</a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="page-title">
                <h1>CATEGORIE</h1>
             </div>
          </div>
       </header> -->
       <ion-content>
       <div class="main-content" ng-init="getCatgories()">
          <div class="cat-page common-cls">
             <div class="text">
                <p>Op deze pagina vindt u evenementen welke door de desbetreffende clubs zelf worden gevuld met de laatste en actuele infornmatie.</p>
             </div>
             <div class="container">
                <div class="cat-blk" ng-repeat="categoryList in categoryList_values">
                    <a ui-sref="app.eventclass({ id: categoryList.id })">
                   <h2>{{categoryList.category}}</h2>
                   <p>{{categoryList.slug_category}}</p>
                </a>
                </div>
             </div>
          </div>
       </div>
       </ion-content>
    </div>
 </ion-view>