<ion-view class="pane" view-title={{navTitle}}>
        <!-- <div class="inner-page pdf"> -->
        <ion-nav-buttons side="left">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <div class="next-page">
                <button id="back" value="" type="button" ng-click="goBack()"></button>
        </div>
        <ion-content>
                <div class="main-content">
                        <div class="class-page-pdf common-cls">
                                <div class="text">
                                        <h2>{{tabTitle}}</h2>
                                </div>
                                <div class="container">
                                        <div class="pdf-blk" ng-show="image">
                                                <img ng-src="{{fileImgUrl}}">
                                        </div>
                                        <div class="pdf-blk" ng-show="pdf">
                                                <!-- <pdfjs-viewer src="{{filePdfUrl}}" style="width:500px;height:500px;"></pdfjs-viewer> -->

                                                <object data="{{data}}" type="application/pdf">
                                                        <iframe width="100%" height="900" ng-src="{{src}}"></iframe>
                                                </object>



                                        </div>
                                </div>
                        </div>
                </div>
        </ion-content>
        <!-- </div> -->
</ion-view>