<ion-view class="pane" view-title="Contact">
    <div class="inner-page contact">
        <!-- <header>
            <div class="container">
                <div class="side-menu">
                    <a href="#">
                        <img src="img/menu.png">
                    </a>
                    <div class="left-side-menu" style="display:none;">
                        <div class="side-menu-content">
                            <div class="menu-blk">
                                <h2>Menu</h2>
                                <a href="#" class="togg">X</a>
                            </div>
                            <ul class="menu-item">
                                <li class="menu-1 active">
                                    <a href="#">Home</a>
                                </li>
                                <li class="menu-2">
                                    <a href="#">EVENEMENTEN</a>
                                </li>
                                <li class="menu-3">
                                    <a href="#">Categorieen</a>
                                </li>
                                <li class="menu-4">
                                    <a href="#">informatie</a>
                                </li>
                                <li class="menu-5">
                                    <a href="#">Push berichten</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="page-title">
                    <h1>Contact</h1>
                </div>
                <div class="next-page">
                    <button id="back" value="" type="button"></button>
                </div>
            </div>
        </header> -->
        <ion-content>
            <div class="main-content">
                <div class="contact common-cls">
                    <!-- <div class="map">
                        <img src="img/map.png">
                     </div> -->
                    <div class="map" ng-init="getMap();getCaptcha();">
                        <div id="map_canvas"></div>
                    </div>
                    <div class="contact-add">
                        <div class="container">
                            <div class="contact-add-left">
                                <h2>KNAF Federatiebureau</h2>
                                <p>Duwboot 85</p>
                                <p>3991 CG Houten</p>
                            </div>
                            <div class="contact-add-ryt">
                                <div>
                                    <label>Email : </label>
                                    <a href="#">info@knaf.nl</a>
                                </div>
                                <div>
                                    <label>Telefoon :</label>
                                    <a href="#">+31 (0) ) 88 00 47 888</a>
                                </div>
                                <p>(Maandag t/m vrijdag van 08:30 - 17:00 uur)</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form">
                        <div class="contact-title">
                            <h3>contact</h3>
                        </div>
                        <form  name="addContact" ng-submit="saveContact(addContact);">
                            <div class="container">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="naam" placeholder="Naam" ng-model="addContact.name" ng-class="allvalidation[0].validation" required>
                                </div>

                                <div ng-show="addContact.$submitted || addContact.naam.$touched">
                                    <div ng-show="addContact.naam.$error.required" style="color:red; ">Naam required
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" name="emailid" placeholder="E-mail" ng-model="addContact.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-class="allvalidation[0].validation" required>
                                </div>
                                <div ng-show="addContact.$submitted || addContact.emailid.$touched">
                                    <div ng-show="addContact.emailid.$error.required" style="color:red;">E-mail required
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Telefoon" ng-model="addContact.phone" ng-class="allvalidation[0].validation" required>
                                </div>
                                <div ng-show="addContact.$submitted || addContact.telephone.$touched">
                                    <div ng-show="addContact.telephone.$error.required" style="color:red; ">Telefoon required
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="onderwerpame" name="onderwerpame" placeholder="Onderwerp" ng-model="addContact.subject" ng-class="allvalidation[0].validation" required>
                                </div>
                                <div ng-show="addContact.$submitted || addContact.onderwerpame.$touched">
                                    <div ng-show="addContact.onderwerpame.$error.required" style="color:red; ">Onderwerp required
                                    </div>
                                </div>

                                <div class="form-group">
                                    <textarea type="text" class="form-control" id="Bericht" name="bericht" placeholder="Bericht" ng-model="addContact.message" ng-class="allvalidation[0].validation" required></textarea>
                                </div>
                                <div ng-show="addContact.$submitted || addContact.bericht.$touched">
                                    <div ng-show="addContact.bericht.$error.required" style="color:red; ">Bericht required
                                    </div>
                                </div>

                                <div class="form-group captcha">
                                    <input type="text" class="form-control" id="code" name="code" placeholder="Type de bovenstaande code over" ng-model="addContact.userCaptcha" ng-class="allvalidation[0].validation" required>
                                    <p ng-bind-html="catpchaValue.image"></p>
                                </div>
                                <div ng-show="addContact.$submitted || addContact.code.$touched">
                                    <div ng-show="addContact.code.$error.required" style="color:red; ">Captcha limit required
                                    </div>
                                </div>

                                <input class="btn" type="submit" value="versturen">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </ion-content>
    </div>
</ion-view>