<ion-view class="pane" view-title="Dashboard">
    <div class="inner-page dashboard">
       <header>
          <div class="container">
             <div class="side-menu">
                <a href="#"><img src="img/menu.png"></a>
                <div class="left-side-menu" style="display:none;">
                        <div class="side-menu-content">
                           <div class="menu-blk">
                              <h2>Menu</h2>
                              <a href="#" class="togg test">X</a>
                           </div>
                           <ul class="menu-item">
                              <li class="menu-1 active"><a href="#">Home</a></li>
                              <li  class="menu-2"><a href="#">EVENEMENTEN</a></li>
                              <li  class="menu-3"><a href="#">Categorieen</a></li>
                              <li  class="menu-4"><a href="#">informatie</a></li>
                              <li  class="menu-5"><a href="#">Push berichten</a></li>
                           </ul>
                        </div>
                     </div>
             </div>
             <div class="page-title">
                <h1>dashboard</h1>
             </div>
          </div>
       </header>
       <ion-content menuContent>
       <div class="main-content">
          <div class="dashboard-page">
             <div class="container">
                <div class="d-blk-1 d-blk">
                   <a ui-sref="app.events">EVENTS</a>
                </div>
                <div class="d-blk-2 d-blk">
                   <a ui-sref="app.overonsdetail">OVER ONS</a>
                </div>
                <div class="d-blk-3 d-blk">
                   <a ui-sref="app.news">NIEUWS</a>
                </div>
                <div class="d-blk-4 d-blk">
                   <a ui-sref="app.contact">CONTACT</a>
                </div>
             </div>
          </div>
       </div>
       </ion-content>
    </div>
 </ion-view>