<ion-view class="pane" view-title="News">
    <!-- <div class="inner-page news"> -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="main-content" ng-init="getNewsOverview();">
            <div class="news common-cls">
                <div class="container">
                    <div class="news-blk" ng-repeat="newsOverview in newsOverview_values">
                        <a ui-sref="app.newsdetail({ id: newsOverview.id })">
                            <div class="new-img">
                                <img ng-src="{{adminimage}}{{newsOverview.image}}">
                            </div>
                            <div class="news-content">
                                <h3>{{newsOverview.title}}</h3>
                                <p ng-bind-html="newsOverview.description"></p>
                                <span am-time-ago="newsOverview.news_date"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <!-- </div> -->
</ion-view>