<ion-view class="pane" view-title="News detail">
    <!-- <div class="inner-page news-detail"> -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="hideToastMessage();"></button>
    </ion-nav-buttons>
    <div class="next-page">
        <button id="back" value="" type="button" ng-click="goTo()"></button>
    </div>
    <ion-content>
        <div class="main-content">
            <div class="news-detail common-cls">
                <div class="container" ng-repeat="newsDetail in newsDetails_values">
                    <div class="news-det-img">
                        <img ng-src="{{adminimage}}{{newsDetail.image}}">
                        <div class="news-det-content">
                            <h2>{{newsDetail.title}}}</h2>
                            <p class="time">
                                <!-- VANDAAG, -->
                                <span am-time-ago="newsDetail.news_date"></span>
                            </p>
                        </div>
                    </div>
                    <p ng-bind-html="newsDetail.description"></p>
                </div>
            </div>
        </div>
    </ion-content>
    <!-- </div> -->
</ion-view>