<ion-view class="pane" view-title="PDF View">
    <div class="inner-page pdf">
       <header>
          <div class="container">
             <div class="side-menu">
                <a href="#"><img src="img/menu.png"></a>
                <div class="left-side-menu" style="display:none;">
                   <div class="side-menu-content">
                      <div class="menu-blk">
                         <h2>Menu</h2>
                         <a href="#" class="togg">X</a>
                      </div>
                      <ul class="menu-item">
                         <li class="menu-1 active"><a href="#">Home</a></li>
                         <li  class="menu-2"><a href="#">EVENEMENTEN</a></li>
                         <li  class="menu-3"><a href="#">Categorieen</a></li>
                         <li  class="menu-4"><a href="#">informatie</a></li>
                         <li  class="menu-5"><a href="#">Push berichten</a></li>
                      </ul>
                   </div>
                </div>
             </div>
             <div class="page-title">
                <h1>Keverklasse</h1>
             </div>
             <div class="next-page">
                <button id="back" value="" type="button"></button>
             </div>
          </div>
       </header>
       <ion-content>
       <div class="main-content">
          <div class="class-page-pdf common-cls">
             <div class="text">
                <h2>[naam van het document]</h2>
             </div>
             <div class="container">
                <div class="pdf-blk">
                   <img src="img/pdf.png">
                </div>
             </div>
          </div>
       </div>
       </ion-content>
    </div>
 </ion-view>