<ion-view class="pane" view-title="Tab detail Information">
    <div class="inner-page tab-detail">
        <header>
            <div class="container">
                <div class="side-menu">
                    <a href="#">
                        <img src="img/menu.png">
                    </a>
                    <div class="left-side-menu" style="display:none;">
                        <div class="side-menu-content">
                            <div class="menu-blk">
                                <h2>Menu</h2>
                                <a href="#" class="togg">X</a>
                            </div>
                            <ul class="menu-item">
                                <li class="menu-1 active">
                                    <a href="#">Home</a>
                                </li>
                                <li class="menu-2">
                                    <a href="#">EVENEMENTEN</a>
                                </li>
                                <li class="menu-3">
                                    <a href="#">Categorieen</a>
                                </li>
                                <li class="menu-4">
                                    <a href="#">informatie</a>
                                </li>
                                <li class="menu-5">
                                    <a href="#">Push berichten</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="page-title">
                    <h1>info</h1>
                </div>
                <div class="next-page">
                    <button id="back" value="" type="button"></button>
                </div>
            </div>
        </header>
        <ion-content>
            <div class="main-content">
                <div class="tab-info common-cls">
                    <div class="container">
                        <!-- <h3>Hieronder enkele belangrijke tijden en mededelingen voor een vlotte wedstrijddag</h3>
                        <div class="">
                            <p>Binnenkomst coureurs: zondag 2 april 2016 vanaf 08.00 uur</p>
                            <p>Inleveren loop briefje tot uiterlijk 9.30 uur</p>
                            <p>Inschrijfgeld: 20 euro (rijders betalen ook gewoon entree)</p>
                        </div>
                        <ul>
                            <li>Regioklasse/li>
                                <li>Juniorklasse</li>
                                <li>Junior buggy ( bij niet voldoende deelname samenvoegen met kever of 1600 sprint)</li>
                                <li>divisie V</li>
                                <li>divisie A</li>
                                <li>Toerwagen klasse</li>
                                <li>Keverklasse</li>
                                <li>Sprint 1600</li>
                        </ul>
                        <span>Voor verdere vragen graag contact opnemen via mail
                            <a href="#">bestuur.sal@gmail.com</a>
                        </span> -->

                        <p ng-bind-html="information"></p>
                    </div>
                </div>
            </div>
        </ion-content>
    </div>
</ion-view>